@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  background-color: #fff;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 10px;
  position: relative;
  width: 300px;
  height: 400px;
}

.content {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(to top, crimson, transparent);
}
