@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css);
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}

form input[type="checkbox"] {
  display: none;
}
form label {
  display: block;
}
form label:before {
  content: "f00c";
}
