@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
section {
  border: 1px solid #000;
  width: 800px;
}
.btn {
  list-style: none;
}
.btn li {
}
.tabs {
}
.tabs div {
}
