.container {
  border: 1px solid red;
  width: 1200px;
  margin: auto;
}
header {
  background-color: skyblue;
}
header article {
}
.logo {
  float: left;
}
.navi {
  float: right;
}

.box1 {
}
.box2 {
}
.box2 article {
}
footer {
}
