.container {
  border: 1px solid black;
  width: 800px;
  margin: auto;
}
header {
  background-color: skyblue;
  overflow: auto;
}
header article {
  background-color: gray;
  width: 200px;
  height: 100px;
}
.logo {
  float: left;
}
.navi {
  float: right;
}

.box1 {
  background-color: yellowgreen;
  height: 300px;
}
.box2 {
}
.box2 article {
}
footer {
}
