@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #222;
  text-decoration: none;
}
.item {
  /* border: 1px solid red; */
  width: 300px;
  margin-bottom: 10px;
  position: relative;
}
.item input[type="text"],
.item input[type="email"],
.item input[type="tel"] {
  border: 1px solid lightgray;
  height: 40px;
  width: inherit;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 50px;
  outline: none;
  transition: 0.4s;
}

.item .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: gray;
  font-size: 22px;
  width: 40px;
  height: 40px;
  /* border: 1px solid blue; */
  text-align: center;
  line-height: 40px;
  transition: 0.4s;
  border-radius: 5px 0 0 5px;
}

.item input:focus {
  /* border: 1px solid blue; */
  box-shadow: 0 0 5px rgba(30, 143, 255, 0.619);
}
.item input:focus + .fa-solid {
  color: dodgerblue;
}
.item input:focus::placeholder {
  visibility: hidden;
}
