/* body {
  text-align: center;
  display: flex;
  background-color: greenyellow;
}
h1 {
  font-size: 50px;
  color: red;
}

h2,
p {
  font-size: 70px;
  text-align: center;
  color: rgba(0, 255, 255, 0.549);
} */

.menu {
  list-style: none;
}
.menu li:before {
  content: "";
}
