@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  color: #222;
  background-color: #f4f4f4;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
section {
  width: 800px;
}
.tab-inner {
  margin-top: 30px;
}
.btn {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.btn li {
  float: left;
  /* border: 1px solid #000; */
  background-color: #eee;
  cursor: pointer;
  width: 120px;
  text-align: center;
  border-right: 1px solid #ddd;
  padding: 5px;
  /*밑에꺼 안넣어주면 덜컹거림 호버될때 border들어가기 때문 top에*/
  border-top: 2px solid transparent;
}
.btn li:last-child {
  width: 170px;
  border-right: none;
}
.btn li:hover {
  background-color: #fff;
  border-top: 2px solid crimson;
}
.btn li.active {
  background-color: #fff;
}
.tabs {
}
.tabs div {
  border: 1px solid #000;
  height: 200px;
  display: none;
}
.tabs div.active {
  display: block;
}
