* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #222;
  font-size: 15px;
  line-height: 1.6em;
}

section {
}
section h1 {
  font-size: 5em;
}
section p {
  font-size: 2em;
  line-height: 3em;
  color: #999;
}

section h3 {
  font-size: 50px;
  color: red;
  text-decoration: underline;
  padding: 30px;
  border: 1px solid #000;
}

.heading {
  font-size: 50px;
  color: crimson;
  font-weight: normal;
  box-sizing: border-box;
  background-color: #fff;
  background: #000;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  position: fixed;
  float: left;
  font-size: 30px;
  width: 100px;
  border-radius: 50%;
}
