.parent {
  position: relative;
  border: 1px solid darkgray;
  width: 600px;
  height: 600px;
}

.child1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}
.child2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}
.child3 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}
.child4 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}
.child5 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}
