.parent {
  position: relative;
  border: 1px solid darkgray;
  width: 600px;
  height: 600px;
}
.parent div {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}

.child1 {
}
.child2 {
}
.child3 {
}
.child4 {
}
.child5 {
}
