@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  font-weight: 300;
  background-color: #fff;
}
a {
  text-decoration: none;
}

header {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.lnb-inner {
  background-color: crimson;
  height: 50px;
  line-height: 50px;
}
.gnb-inner {
  background-color: black;
  height: 100px;
  line-height: 100px;
}
.btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 40px;
  background-color: #ddd;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section p {
  font-size: 3.5em;
  color: #ddd;
  line-height: 5rem;
}
