@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  color: #222;
  margin: 0;
  background-color: #f4f4f4;
}
a {
  color: #222;
  text-decoration: none;
}

.gnb {
}
.gnb li {
}
.gnb li a {
}
