@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #222;
  text-decoration: none;
}
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon {
  border: 1px solid red;
  width: 125px;
  height: 125px;
  margin: 10px;
  position: relative;
}
.icon span {
  position: absolute;
  background-color: #000;
  color: #fff;
}
