@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  background-color: #fff;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
a {
  text-decoration: none;
}

.custom input[type="checkbox"] {
  display: none;
}
.custom label em {
  /* border: 1px solid red; */
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background: url(images/checkbox-02.png) no-repeat;
  background-position: left center;
}
.custom input[type="checkbox"]:checked + label em {
  background-position: right center;
}
.custom label {
  cursor: pointer;
}

.grade input[type="radio"] {
  display: none;
}
.grade label em {
  border: 1px solid red;
}
