.parent {
  border: 5px solid red;
  width: 600px;
}
/*html 요소가 왼쪽에 있다고 해서 float:left가 기본값이 아니다.
기본값은 float:none임 */
.child {
  background-color: gold;
  width: 200px;
  height: 200px;
  float: left;
}
