@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #222;
  font-size: 35px;
  padding-bottom: 5px;
}

.gnb {
}
.gnb a {
  position: relative;
}
.gnb a:before {
  content: "";
  position: absolute;
  background-color: crimson;
  height: 2px;
  width: 5px;
  bottom: 0;
  transition: 0.5s;
  border-radius: 50%;
  left: 50%;
}
.gnb a:hover:before {
}

/*
.gnb a:before {
  content: "";
  position: absolute;
  background-color: crimson;
  height: 2px;
  width: 0px;
  bottom: 0;
  transition: 0.5s;
}
.gnb a:hover:before {
  width:100%
}
*/
/*
.gnb a:before {
  content: "";
  position: absolute;
  background-color: crimson;
  height: 4px;
  width: 4px;
  bottom: 0;
  left: 2px;
  transition: 0.5s;
  border-radius: 50%;
}
.gnb a:hover:before {
  left: calc(100% - 4px);
}
*/
