@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: #333;
}
/*a태그는 색상을 따로 줘야 색상이 입혀짐*/
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*layout*/
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section article {
  border: 1px solid red;
  width: 980px;
  height: 600px;
  background-color: #fff;
}
.heading {
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
  border: 1px solid #333;
  height: 150px;
}
.heading span {
  color: crimson;
  font-size: 24px;
}
.heading h1 {
  font-size: 36px;
}
.heading h1 em {
  font-style: normal;
  border: 1px solid #000;
  position: relative;
}
.heading h1 em:after {
  content: url(images/logo-kakao.png);
  position: absolute;
  right: -35px;
  top: -30px;
}
.content {
}
.content div {
  border: 1px solid blue;
  width: 50%;
  float: left;
  height: 450px;
  box-sizing: border-box;
}
.accordion {
}
.image {
}
