@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  color: #222;
  margin: 0;
  background: linear-gradient(90deg, #dce35b, #45b649);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #222;
  text-decoration: none;
}
.gnb {
  background-color: #fff;
  padding: 15px;
}
.gnb a {
}
.gnb a span {
}
.gnb a span:nth-child(1) {
}
.gnb a span:nth-child(2) {
}
